footer {
    width: 100%;
    height: 7vh;
    display: flex;
    background-color: white;
    margin: 0;
    padding: 5px 5%;
    color: whitesmoke;
    box-shadow: 4px 2px 4px 2px rgba(0, 0, 0, 0.1);
    background: #fbf3f259;
}

.footer-content{
    color: grey;
    font-size: 14px;
    margin: 0 0 0 47%;
}