main{
    width: 90%;
    margin: auto;
    height: 75vh;
    padding: 20px 15px;
  
    .banners{
      display: flex;
      align-items: center;
      justify-content: center;
  
      div{
        width: 26%;
        margin-right: 10px;
        img{
          height: 200px;
          width: 100%;
          max-width: 100%;
          border-radius: 10px;
          object-fit: cover;
  
          &:hover{
            transform: translateY(-10px);
            transition: 0.2s ease-in-out;
          }
        }
      }
    }
  }
  
  .product-area{
    height: 90vh;
    border: 1px solid white;
  }

  .prd-img{
      float: left;
      width: 30%;
      height: 52vh;
      margin: 10% 0 0 10%;
  }

  .prd-heading{
      margin: 10% 0 0 56%;
      width: 30%;
      height: 7vh;
      font-size: 30px;
      letter-spacing: 5px;
  }

  .prd-details{
    margin: 3% 0 0 56%;
    width: 30%;
    height: 37vh;
  }
  
  img {
    border-radius: 10%;
  }

.origin-lbl{
    margin: 4% 0 4% 0;
}

.variety-lbl{
    margin-bottom: 4%;
}

.intensifier-lbl{
    margin-bottom: 4%;
}

.notes-lbl{
    margin-bottom: 4%;
}