
<app-header></app-header>
<div class="product-area">
<div class="prd-img">
  <img src="/assets/images/coffee-prd.jpg" width="380" height="267" alt="avatar">
</div>
<div class="prd-heading">
{{product.blend_name}}
</div>
<div class="prd-details">
  <div class="origin-lbl"><i><b>Origin:</b></i> {{product.origin}}</div>
  <div class="variety-lbl"><i><b>Variety:</b></i> {{product.variety}}</div>
  <div class="intensifier-lbl"><i><b>Intensifier:</b></i> {{product.intensifier}}</div>
  <div class="notes-lbl"><i><b>Notes:</b></i> {{product.notes}}</div>
</div>
</div>